*{
    margin:0
}
body{
    background-color: palevioletred;
}
#main-card{
    display: inline-block;
    background-color: white;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    margin-top: 20px;
    border-radius: 10px;
}
#content{
    background-color: skyblue;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}
h3{
    padding-top: 15px;
    padding-bottom: 10px;
}
p{
    margin-bottom: 5px;
}
.category{
    display: inline-block;
    margin-bottom: 3px;
    background-color: cornflowerblue;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 2px;
    border-radius: 15px;
}
.explore{
    display: inline-block;
    font-weight: 600;
    margin-right: 130px;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

